@font-face {
  font-family: "OrkneyRegular";
  src: url("../assets/orkney-regular.woff") format("woff");
}

@font-face {
  font-family: "OrkneyMedium";
  src: url("../assets/orkney-medium.woff") format("woff");
}

@font-face {
  font-family: "OrkneyBold";
  src: url("../assets/orkney-bold.woff") format("woff");
}

body {
  font-family: "OrkneyRegular";
}
